.WeatherForecast {
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
}

.WeatherForecast .WeatherForecastPreview {
  background-color: rgb(233, 246, 250);
  padding: 10px 5px;
  border-radius: 5px;
  margin: 3px;
}

.WeatherForecast .col-4 {
  font-size: 24px;
  padding-top: 20px;
}

.WeatherForecast canvas {
  display: block;
  margin: 0 auto;
  padding: 0 0 10px 0;
  max-width: 46px;
}
