.Weather {
  padding: 16px;

  border-radius: 4px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.Weather h1 {
  font-size: 32px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0px 0;
  padding: 20px 0 0 10px;
}

.Weather ul {
  margin: 0 18px;
  padding: 0;
  text-align: right;
}

.Weather li {
  list-style: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  padding: 2px;
}

.Weather canvas {
  margin-right: 12px;
  margin-left: 18px;
}

.Weather .temperature {
  font-weight: 400;
  font-size: 64px;
  line-height: 64px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  margin-left: 5px;
  line-height: 1;
}
